<h2>Welcome to Rent a Puppy!</h2>

<p>At Rent a Puppy, you can bid to walk your favorite puppy!</p>

<p>
	To determine winners, Rent a Puppy uses the <%= link_to 'Generalized Second Price Auction', 'http://en.wikipedia.org/wiki/Generalized_second-price_auction' %>
	similar to 
	<%= link_to 'Google AdWords', 'http://www.quora.com/Google-AdWords/What-is-the-mathematical-model-behind-AdWords-pricing-and-auction' %>. The winner pays the price of the second highest bid, adjusted for bidder quality compared to the runner-up.</p>